<!DOCTYPE html>
<html>
<body>
    <h2>Cambio de dirección de correo</h2>
    <p>Hola,</p>
    <p>Hemos recibido una solicitud para cambiar la dirección de correo asociada a tu cuenta en Barberstein.</p>
    <p>Por favor, haz clic en el siguiente enlace para confirmar este cambio:</p>
    <a href="{{ protocol }}://{{ domain }}/{{ url }}">Confirmar cambio de correo</a>
    <p>Si no solicitaste este cambio, por favor contacta a nuestro equipo de soporte inmediatamente.</p>
    <p>Saludos,<br>El equipo de Barberstein</p>
</body>
</html>